<button ejs-button content="API" (click)="onClicked()"></button>
<ejs-treegrid
  #treegrid
  [dataSource]="data"
  [treeColumnIndex]="1"
  [sortSettings]="sortSettings"
  [allowFiltering]="true"
  [allowSorting]="true"
  childMapping="subtasks"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  [selectionSettings]="selectionOptions"
>
  <e-columns>
    <e-column type="checkbox" width="50"></e-column>
    <e-column
      field="taskID"
      headerText="Task ID"
      textAlign="Right"
      width="90"
      [isPrimaryKey]="true"
    ></e-column>
    <e-column
      field="taskName"
      headerText="Task Name"
      textAlign="Left"
      width="180"
    ></e-column>
    <e-column
      field="startDate"
      headerText="Start Date"
      textAlign="Right"
      format="yMd"
      width="90"
    ></e-column>
    <e-column
      field="duration"
      headerText="Duration"
      textAlign="Right"
      width="80"
    ></e-column>
  </e-columns>
</ejs-treegrid>
